.cabecalhos{
    
    background-color: #ffc107;
    color: #000000;
    font-size:20px ;
}
.botaoIndex{
    font-size: 23px;
}
.topos {
    text-align: center;
    font-size: 30px;
    background-color: #ffc107;
    color: #000000;
}
.botaoApagar{
    border: 0;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}
.botaoEditar{
    border: 0;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
}
.botaoVizualizar{
    border: 0;
    background-color: rgb(63, 63, 224);
    border-radius: 5px;
    padding: 5px;
}
.botaoApagar img{
    width: 22px;
}
.botaoEditar img{
    width: 22px;
}
.botaoVizualizar img{
    width: 22px;
}






#botaoDuvida{
    font-size: 23px;
}
#botaoContinuar{
    font-size: 23px;
    color:#000000;
    background-color: #ffc107;
}