<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Avaliar</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styla.css}" rel="stylesheet">

</head>

<body>

    <nav class="cabecalhos navbar navbar-expand-sm">

        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h1>Scolaris</h1>
                </li>
                <li class="nav-item m-2 mt-1">
                    <a class="nav-link" th:href="@{|/turmasProfessor/${professor}|}">Turmas</a>
                </li>
                <li class="nav-item m-2 mt-1">
                    <a class="nav-link btn btn-danger" th:href="@{/}">Sair</a>
                </li>
            </ul>

        </div>
    </nav>




    <div class="container mt-5">
        <div>
            <h1><b>Título:</b></h1>
            <h1 id="tituloAval"></h1>
            <h2><b>Valor total:</b></h2>
            <h2 id="valorAval"></h2>
            <h3><b>Descrição:</b></h3>
            <h3 id="descricaoAval"></h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <table class="table table-bordered m-2" id="tableNotas">
                        <thead>
                            <tr>
                                <th>Aluno</th>
                                <th>Nota</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <form id="formNota">
                    <div class="card m-2 mt-5 mb-5">
                        <div class="topos card-header">
                            <h1>Avaliar</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="row m-1">
                                    <div class="col-6">
                                        <label for="selectAluno">Aluno</label>
                                        <select id="selectAluno" class="form-select">

                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label for="nomeTurma">Nota</label>
                                        <input type="number" id="nota" class="form-control" required>
                                    </div>


                                </div>
                                <div class="row justify-content-center m-1">
                                    <label for="descricao">Recado</label>
                                    <textarea id="recado" class="form-control" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-2"><button class="btn btn-success btn-block">Salvar</button></div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <input type="hidden" id="turmaId" th:value="${turma}">
    <input type="hidden" id="profId" th:value="${professor}">
    <input type="hidden" id="avalId" th:value="${avaliacao}">

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/darNotas.js}"></script>
</body>

</html>