<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Editar turma</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styla.css}" rel="stylesheet">

</head>

<body>

    <nav class="cabecalhos navbar navbar-expand-sm">

        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h1>Scolaris</h1>
                </li>
                <li class="nav-item m-2 mt-1">
                    <a class="nav-link" th:href="@{/turmasDiretor}">Turmas</a>
                </li>
                <li class="nav-item m-2 mt-1">
                    <a class="nav-link" th:href="@{/verUsers}">Usuários</a>
                </li>
                <li class="nav-item m-2 mt-1">
                    <a class="nav-link btn btn-danger" th:href="@{/}">Sair</a>
                </li>
            </ul>

        </div>
    </nav>




    <div class="container mt-5">
        <div class="row justify-content-center">

            <div class="col-md-6">
                <form id="formTurma">
                    <div class="card">

                        <div class="topos card-header">
                            <h1>Editar turma</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <table class="table" id="tableTodosAlunos">
                                        <thead>
                                            <tr>
                                                <th>Todos os alunos</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="col-6">
                                    <table class="table" id="tableAlunosTurma">
                                        <thead>
                                            <tr>
                                                <th>Alunos na turma</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>

                                <div class="row m-1">
                                    <input type="hidden" id="turmaId" th:value="${turma.id}">
                                    <div class="col-6">
                                        <label for="nomeTurma">Nome da turma</label>
                                        <input type="text" id="nomeTurma" class="form-control" th:value="${turma.titulo}" required>
                                    </div>
                                    <div class="col-6">
                                        <label for="selectProfessor">Professor</label>
                                        <div id="divSelectProfessor"></div>
                                    </div>

                                </div>
                                <div class="row justify-content-center m-1">
                                    <label for="descricao">Descrição</label>
                                    <textarea id="descricao" class="form-control" th:text="${turma.descricao}" required></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">

                                <div class="col-10"></div>
                                <div class="col-2"><button class="btn btn-success btn-block"
                                        id="botaoSalvar">Salvar</button></div>

                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/editarTurma.js}"></script>
</body>

</html>