<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tela de Login</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <nav class="cabecalhos navbar navbar-expand-sm">

        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h1>Scolaris</h1>
                </li>
            </ul>

        </div>
    </nav>




    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card">
                    <div class="topos card-header">
                        Login
                    </div>

                    <div class="card-body teste">
                        <form>
                            <div class="form-group">
                                <label for="username">Usuário:</label>
                                <input type="text" class="form-control" id="username" placeholder="Digite seu usuário">
                            </div>

                            <div class="form-group">
                                <label for="password">Senha:</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Digite sua senha">
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-block mt-3 m-3 col-1" id="botaoDuvida">?</button>
                                <div class="col-7"></div>
                                <div class="col-3">
                                    <button class="btn btn-primary btn-block mt-3 m-3" id="botaoContinuar">Continuar</button>
                                </div>
                            </div>
                            
                            
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>