<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Turmas</title>
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/styla.css}" rel="stylesheet">

</head>

<body>

  <nav class="cabecalhos navbar navbar-expand-sm">

    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h1>Scolaris</h1>
        </li>
        <li class="nav-item m-2 mt-1">
          <a class="nav-link" th:href="@{|/turmasProfessor/${professor}|}">Turmas</a>
        </li>
        <li class="nav-item m-2 mt-1">
          <a class="nav-link btn btn-danger" th:href="@{/}">Sair</a>
      </li>
      </ul>

    </div>
  </nav>




  <div class="container mt-5">
    <table class="table" id="tabelaTurmas">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome da sala</th>
          <th>Descrição</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      </tbody>

    </table>
  </div>
  <input type="hidden" id="professor" th:value="${professor}">


  <script th:src="@{/js/jquery.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/turmasProfessor.js}"></script>
</body>

</html>