<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Turmas</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <nav class="cabecalhos navbar navbar-expand-sm">

        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h1>Scolaris</h1>
                </li>
                <li class="nav-item m-2 mt-1">
                    <a class="nav-link" href="#">Turmas</a>
                </li>
            </ul>

        </div>
    </nav>




    <div class="container mt-5">
        <h1><b>Turma:</b>*nome da turma*</h1>
        <h2><b>Professor:</b>*Nome do professor*</h2>
        <h2><b>Descrição:</b>*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis placerat porttitor. Ut
            efficitur lobortis est, id fringilla turpis maximus eget. Praesent mollis, turpis eget ultricies posuere,
            magna augue aliquam neque, ac porta nunc neque non nibh. Aenean vitae faucibus lorem, eu ornare lectus.
            Nullam ultrices metus risus, et ultricies lacus finibus a. Nullam finibus tellus vitae tortor suscipit, eu
            tincidunt libero bibendum. Sed finibus, turpis eu rhoncus varius, quam arcu elementum leo, non rhoncus neque
            sem non neque. Proin congue urna varius nulla dignissim, sit amet tincidunt magna dictum. Mauris dictum sit
            amet dui non laoreet. Nam nisl augue, ornare eu*</h2>
            
    </div>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>